@import "tailwindcss";
:root {
  --white: #fff;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1d1d2e;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #ff3f4b;
}

body {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--dark-700);
  /* @apply bg-no-repeat bg-cover bg-center bg-fixed;
  background-image: url('/bg.png'); */
}

/* @media (max-width: 640px) {
  body {
    background: var(--dark-700)
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
*/

button {
  cursor: pointer;
  
} 